<!doctype html>
<html>
<head>
	<link rel='stylesheet' href='/static/style.css'>
</head>
	<body class="mid">
		<h1>{{c['name']}}</h1>
		<div class='properties'>
			<div>
				<div>Capital</div>
				<div>{{c['capital']}}</div>
			</div>
			<div>
				<div>Continent</div>
				<div><a href='../continent/{{c.continent}}'>{{c['continent']}}</a></div>
			</div>
			<div>
				<div>TLD</div>
				<div>{{c['tld']}}</div>
			</div>
			<div>
			<div>Area</div>
			<div>{{"{:,.2f}".format(c['area'])}}</div>
			</div>
			<div>
				<div>Population</div>
				<div>{{"{:,.0f}".format(c['population'])}}</div>
			</div>
			<div>
				<div>GDP (million $)</div>
				<div>{{ "{:,.2f}".format(c['gdp']/1000000) }}</div>
			</div>
		</div>
		<img src="/static/flags/{{c['tld']}}.gif" class='big'>
		<div class='edit-button'>
				<a href='/editCountryByName/{{c.name}}' class="edit">Edit</a>
		</div>
		<div class='delete-button'>
		<a href='/delete/{{c.name}}' class="delete">Delete</a>
		</div>
	</body>
</html>